.reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bgQuotes{
    position: relative;
    bottom: 120px;
    left: 60px;
    width: 40px;
}

.card{
    background-color: hsl(219, 30%, 18%);
    width: 300px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    margin-right: 30px;
}

.titleCard{
    display: flex;
    flex-direction: column;
}

.bodycard{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.bodycard img{
    width: 40px;
    border-radius: 25px;
}

@media (max-width: 1200px){
    .reviews{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin-bottom: 30px;
        margin-right: 0px;
    }

    #bgQuotes{
        position: relative;
        bottom: -2px;
        left: -120px;
        width: 40px;
    }
}